configuration {
  modi: "drun,window,emoji,calc";
  disable-history: false;
  display-drun: "";
  display-window: "";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font 10";
  icon-theme: "Papirus";
  show-icons: true;
  sidebar-mode: false;
  window-format: "{t}";
}

@theme "fullscreen"
