#!/usr/bin/env bash

autostart="dunst sxhkd nm-applet kdeconnect-indicator"
for program in $autostart; do
	pidof -sx "$program" || "$program" &
done >/dev/null 2>&1

picom -f &                        # Start Compositor
wal -R &&                         # restore last used pywal settings
xdotool key super+shift+F5 &      # Update DWM colors from xrdb

# Ensure that xrdb has finished running before moving on to start the WM/DE.
[ -n "$xrdbpid" ] && wait "$xrdbpid"
